.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  width: 98px;
  height: 98px;
  cursor: pointer;
  position: relative;
}

.container {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #722ED1;
  border-radius: 50%
}

.icon {
  position: relative;
  left: 5px;
  top: 5px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 50%
}