.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.container {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D9D9D9;
  border-radius: 50%
}

.text_container {
  position: absolute;
  top: 106px;
  width: 120px;
  text-align: center;
  cursor: grab;
}

.title {
  color: #000000D9;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
}

.text {
  color: #00000073;
  font-size: 12px;
}